.select {
  width: 240px;
}

.output {
  position: relative;
  border-radius: 4px;
  height: 36px;
  border: 1px solid #bfcbd9;
  color: #1f2d3d;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

  .output-arrow {
    position: absolute;
    right: 20px;
    transition: 100ms ease-in-out-cubic;
    margin-left: 5px;
    display: inline-block;
    margin-right: 0;
    justify-self: end;
  }

  .output-arrow--inactive {
    transform: rotate(270deg);
  }

  .output-arrow--active {
    transform: rotate(90deg);
  }

.options {
  transition: 100ms ease-in-out-cubic;
  overflow: hidden;
}

.options--close {
  height: 0;
  border: 0 solid #bfcbd9;
}

.options--open {
  height: 250px;
  border: 1px solid #bfcbd9;
}

.option {
  cursor: pointer;
  padding: 5px 10px;
}