@import '../../../styles/size';
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.container-dashboard {
  font-size: 20px;
  .column-left {
    width: 20%;
  }
  .column-center {
    width: 60%;
    justify-content: space-around;
    .label {
      font-size: 20px;
    }
  }
  .column-right {
    width: 20%;
  }
}

.container-control {
  background-color: #24292e;
  .column-left {
    width: 40%;
  }
  .column-center {
    width: 20%;
    justify-content: center;
  }
  .column-right {
    width: 40%;
  }
}

.row {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.row-control {
  width: 99%;
}

.column-left {
  display: flex;
  align-items: center;
}

.column-center {
  display: flex;
  align-items: center;
}

.column-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo > img {
  width: 32px;
  height: 32px;
}

