{
  "extends": "airbnb-base",
  "rules": {
    "func-names": ["error", "never"],
    "no-tabs": 0,
    "no-param-reassign": ["off"],
    "no-extra-semi": "error",
    "semi": ["error", "never"],
    "consistent-return": ["off"],
    "no-console": ["off"]
  },
  "plugins": ["security"]
}