version: '2'

services:
  node:
    image: core
    container_name: biphub-dev
    environment:
        NODE_ENV: development
    build:
      context: .
      dockerfile: .docker/node.dev.dockerfile
    command: npm run dev
    volumes:
      - .:/home
      - /home/node_modules
    ports:
      - "3000:8080"