@mixin margin-spacing( $spacing ) {
  @for $i from 1 to 11 {
    // Margin
    %mg-#{$i}x { margin: $spacing * $i; }

    %mg-top-#{$i}x,
    %mg-vertical-#{$i}x { margin-top: $spacing * $i; }

    %mg-bottom-#{$i}x,
    %mg-vertical-#{$i}x { margin-bottom: $spacing * $i; }

    %mg-left-#{$i}x,
    %mg-horizontal-#{$i}x { margin-left: $spacing * $i; }

    %mg-right-#{$i}x,
    %mg-horizontal-#{$i}x { margin-right: $spacing * $i; }
  }
}

$spacing: 5px;
@include margin-spacing($spacing);
