@mixin padding-spacing( $spacing ) {
  @for $i from 1 to 11 {
    // Padding
    %pd-#{$i}x { padding: $spacing * $i; }

    %pd-top-#{$i}x,
    %pd-vertical-#{$i}x { padding-top: $spacing * $i; }

    %pd-bottom-#{$i}x,
    %pd-vertical-#{$i}x{ padding-bottom: $spacing * $i; }

    %pd-left-#{$i}x,
    %pd-horizontal-#{$i}x { padding-left: $spacing * $i; }

    %pd-right-#{$i}x,
    %pd-horizontal-#{$i}x{ padding-right: $spacing * $i; }
  }
}

$spacing: 5px;
@include padding-spacing($spacing);
