.container {
  background-color: #f1f4f5;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-left {
  width: 250px;
  padding-top: 20px;
}

.column-right {
  width: 100%;
  padding-top: 20px;
}