@import '../../../styles/padding';

.search-bar {
  width: 100%;
}

.search-bar-pad {
  display: flex;
  justify-content: space-between;
  @extend %pd-2x;
}

.icon {
  align-self: center;
  font-size: 10px;
}

.input {
  width: 100%;
  margin-left: 15px;
  align-self: center;
  outline: none;
  border: 0;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
