@import '../../../styles/padding';
@import '../../../styles/size';
@import '../../../styles/colour';
.container {
  width: 277px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #E8E8E8;
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
.icon-wrapper {
  border-radius: 20px;
  z-index: 10;
  padding: 18px;
  background-color: white;
}

.label {
  font-size: $fsize--mss;
  margin-top: 4px;
  padding: 10px 20px;
  > h5 {
    margin-bottom: 2px;
    font-weight: bold;
  }
}
