@import '../../../styles/padding';
@import '../../../styles/size';
@import '../../../styles/colour';
// linear-gradient(135deg, #2e87fb 0%, #ffffff 100%);
.container {
  width: 277px;
  cursor: pointer;
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  background: resemble-image(url("~wave.jpg"));
}


.icon-wrapper {
  z-index: 10;
  padding: 30px;
  background-color: white;
}

.label {
  font-size: $fsize--mss;
  margin-top: 4px;
  text-align: center;
}
