@import '../../../styles/fontsize';
@import '../../../styles/padding';
.component {
  display: flex;
}

.component-pad {
  justify-content: center;
  @extend %pd-2x;
}

// TODO: Using nested CSS is not recommended.
// Refactor this so your HTML is not dependent on CSS
.center-column-flex {
  .icon {
    align-self: center;
  }

  .label {
    align-self: center;
  }
}

.component--column {
  flex-direction: column;

  @extend .center-column-flex;
}

.component--column-reverse {
  flex-direction: column-reverse;

  @extend .center-column-flex;
}

.component--row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // TODO: Refactor nested style
  .icon {
    margin-right: 5px;
  }
}

.component--row-reverse {
  flex-direction: row-reverse;
}

.label {
  @extend %fsize-15;
}
  .label--active {
    border-bottom: 3px solid gray;
  }
  .label--inactive {
    border-bottom: 0;
  }

.component-pad {
}
