@import "../../../styles/padding";

.container {
  background-color: #f1f4f5;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-left {
  min-width: 400px;
  @extend .pad--20;
}

.column-right {
  width: 90%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.21);
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
