@import "../../../styles/padding";

.container {
  background-color: #f1f4f5;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-left {
  min-width: 400px;
  @extend .pad--20;
}

.column-right {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

  .container-form {
    width: 90%;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.21);
    background-color: white;
  }