.actions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.action {
  border-bottom: 1px solid #374051;
  margin-bottom: 15px;
}

.description {
  margin-top: 5px;
  margin-bottom: 5px;
}
