@import '../../../styles/padding';
@import '../../../styles/padding';
@import '../../../styles/margin';

.component-pad {
  @extend %pd-2x;
}

.icon {
  align-self: center;
}

.input {
  width: 100%;
  margin-left: 15px;
  @extend %pd-2x;
  align-self: center;
  outline: none;
  border: 0;
}

.api-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 600px;
  overflow-y: scroll;
  > a {
    margin-bottom: 20px;
  }
}

.api-list::-webkit-scrollbar {
  width: 6px;
}

.api-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.api-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}


.api-list .component {
  // TODO: Make sure if this is meant to be fixed width
  @extend %mg-1x;
}
